<h1>Beer and book pairings</h1>

<h3>Title: <%=@pairing.title%></h3>
<h3>Author: <%=@pairing.author%></h3>
<h3>Genre: <%=@pairing.genre%></h3>
<h3>Beer: <%=@pairing.beer_name%></h3>
<h3>ABV: <%=@pairing.alcohol%></h3>